*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image sidebar"
    "slider sidebar"
  ;
  height: 100vh;
  width: 100vw;
  background-color: #DADADA;
}

.main-image {
  grid-area: image;
  background-image: url("https://images.unsplash.com/photo-1669543295261-ba78b679ca3d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  min-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.sidebar-item {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: hsl(265, 100%, 86%);
  padding: 1rem;
  position: relative;
  transition: background-color 150ms;
}

.sidebar-item .active {
  background-color: hsl(265, 100%, 76%);
}

.sidebar-item::after {
  content: '';
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  height: .1rem;
  background-color: hsl(265, 100%, 46%);
}

.sidebar-item:hover,
.sidebar-item:focus {
  background-color: hsl(265, 100%, 76%);
}

.sidebar-item:last-child::after {
  display: none;
}

.sidebar {
  grid-area: sidebar;
  background-color: hsl(265, 100%, 86%);
  border-left: 1px solid hsl(265, 100%, 56%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.slider-container {
  grid-area: slider;
  background-color: #c4c4c4;
  margin-top: 2rem;
  padding: 2rem;
}

.slider {
  width: 100%;
  cursor: pointer;
}